<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="playlist"></div>
        <div id="song-input">
            ENTER A SONG TITLE HERE : <input type="text" id="song" />
            <button id="submit_button"  style="margin-bottom: 50px;">Submit</button>
        </div>
        <div id="search-results"></div>
    </div>


    <script src="js/displayTable.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
